<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="film" href="/tabs/film">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Film</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="celebrita" href="/tabs/celebrita">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Celebrità</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profilo" href="/tabs/profilo">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Profilo</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
